
# #1.- Review Python General

#### Favor de escribir los nombre de los integrantes de tu equipo.

In [1]:
# Verónica Lizbeth Castillo Morales

### 1.- Escribe una función que te regrese la cadena "Hola mundo"

In [2]:
# Imprimir la frase "Hola mundo" (agregando carita feliz)
def funcion_hola():
    print("Hola mundo :)")

In [3]:
funcion_hola()

Hola mundo :)

### 2.- Si desea construir algo usando una Raspberry Pi, probablemente use resistencias. Para este ejercicio, necesitas saber dos cosas sobre ellos:

Cada resistencia tiene un valor de resistencia.

Los resistores son pequeños, tan pequeños que si imprimieras el valor de resistencia en ellos, sería difícil de leer.

Para solucionar este problema, los fabricantes imprimen bandas codificadas por colores en las resistencias para indicar sus valores de resistencia. Cada banda tiene una posición y un valor numérico.

Las primeras 2 bandas de una resistencia tienen un esquema de codificación simple: cada color se asigna a un solo número. Por ejemplo, si imprimieran una banda marrón (valor 1) seguida de una banda verde (valor 5), se traduciría en el número 15.

En este ejercicio vas a crear un programa útil para que no tengas que recordar los valores de las bandas. El programa tomará los nombres de los colores como entrada y generará un número de dos dígitos, ¡incluso si la entrada es de más de dos colores!

Los colores de la banda se codifican de la siguiente manera:
* Negro: 0
* Marrón: 1
* Red: 2
* Naranja: 3
* Amarillo: 4
* Verde: 5
* Azul: 6
* Púrpura: 7
* Gris: 8
* Blanco: 9

El argumento de la función acepta una cadena con colores separados por un guión.

#### Resultados esperados:
* decodedValue('marrón-verde') debe ser 15
* decodedValue('marrón-verde-violeta') debe ser 15, ignorando el tercer color
* decodedValue('rojo-naranja-amarillo-verde') debe ser 23, ignorando los dos últimos valores

In [4]:
# Definir función
def resistencia(string):
    # Módulos necesarios
    from unidecode import unidecode
    
    # Procesamiento del input
    palabras = string.split('-')[:2] ## Obtener lista con palabras dentro del input y dejar solo primeros dos
    palabras = [unidecode(palabra).capitalize() for palabra in palabras] ## Capitalizar primera letra y eliminar acentos
    
    # Definición de equivalencias
    color_dict = {'Negro':0,'Marron':1,'Rojo':2,'Naranja':3,'Amarillo':4,'Verde':5,
                  'Azul':6,'Purpura':7,'Gris':8,'Blanco': 9} ## Formato diccionario
    
    # Generar código numérico
    code_color = [color_dict.get(palabra.capitalize(),'') for palabra in palabras] ## Obtener valor del diccionario
    code_color = [item for item in code_color if item != ''] ## Quitar elementos no válidos
    
    # Procesamiento del output
    if len(code_color)>=len(palabras):
        code = ''.join(map(str,code_color)) ## Definir código en string si ambos colores son válidos
    else:
        code = "Uno o más colores no son válidos" ## Lanzar mensaje si alguno no lo es
        
    # Output
    print(code)

In [5]:
# Ejemplo 1
resistencia('marrón-verde')

15

In [6]:
# Ejemplo 2
resistencia('marrón-verde-violeta')

15

In [7]:
# Ejemplo 3
resistencia('rojo-naranja-amarillo-verde')

23

### 3.- Crea una función que la entrada sea un año, y este de como salida si es un año bisiesto o no.

Recuerda que un año bisiesto en el calendario gregoriano:

Por lo cual entra cada año que es divisible por 4, excepto todos los años que son divisibles por 100, a menos que el año también sea divisible por 400

#### Resultado esperado 
* 1997 no es un año bisiesto
* 1996 es un año bisiesto 
* 1900 no es un año bisiesto
* 2000 sí es un año bisiesto

In [8]:
# Definir función
def bisiesto(year):
    # Condicionales
    if year % 4 == 0: ## Revisar si es divisible entre 4
        if year % 100 == 0: ## Si lo es, revisar si es divisible entre 100
            if year % 400 == 0: ## Si lo es, evisar si es divisible entre 400
                print(f"{year} es un año bisiesto") ## Si lo es, es bisiesto
            else:
                print(f"{year} no es un año bisiesto") 
        if year % 100 != 0: # Si no es divisible entre 100 pero si entre 4
            print(f"{year} es un año bisiesto") ## Es bisiesto
    else:
        print(f"{year} no es un año bisiesto") ## En otros casos no lo es

In [9]:
# Ejemplo 1
bisiesto(1997)

1997 no es un año bisiesto

In [10]:
# Ejemplo 2
bisiesto(1996)

1996 es un año bisiesto

In [11]:
# Ejemplo 3
bisiesto(1900)

1900 no es un año bisiesto

In [12]:
# Ejemplo 4
bisiesto(2000)

2000 es un año bisiesto

### 4. Dado un nombre de planeta y una edad en segundos, calcula qué edad tendría alguien en diferentes planetas.

- Mercurio: período orbital 0,2408467 años terrestres.
- Venus: período orbital 0,6219178 años terrestres.
- Tierra: período orbital 1,0 años terrestres, 365,25 días terrestres o 31557600 segundos
- Marte: período orbital 1,8808158 años terrestres
- Júpiter: período orbital 11,862615 años terrestres
- Saturno: período orbital 29,447498 años terrestres
- Urano: período orbital 84,016846 años terrestres
- Neptuno: período orbital 164,79132 años terrestres

Por ejemplo, si el usuario ingresa que tiene 1,000,000,000 segundos de edad y está en la Tierra, entonces el programa debería imprimir que el usuario tiene 31.69 años, es decir, desde que nació la Tierra ha orbitado el sol 31.69 veces.

In [13]:
# Definir función
def edad_segundos(edad,planeta):
    # Módulos necesarios
    from unidecode import unidecode
    
    # Calcular edad en años terrestres
    edad_tierra = edad/31557600
    
    # Diccionario de equivalencias de planetas
    planet_dict = {'Mercurio':0.2408467,'Venus':0.6219178,'Tierra':1,'Marte':1.8808158,
                   'Jupiter':11.862615,'Saturno':29.447498,'Urano':84.016846,'Neptuno':164.79132} ## Formato diccionario
    
    # Formatear planeta
    planeta = unidecode(planeta).capitalize()
    
    # Equivalencia segun planeta
    try:
        eq_num = planet_dict[planeta] ## Equivalencia según input
        edad_planeta = edad_tierra/eq_num ## Cálculo
        print(f"{edad} segundos de edad en la tierra equivalen a {round(edad_planeta,2)} vueltas al sol en el planeta {planeta}")
    except:
        print("Planeta no válido") ## Mensaje de planeta no válido

In [14]:
# Ejemplo 1
edad_segundos(1000000000,"Tierra")

1000000000 segundos de edad en la tierra equivalen a 31.69 vueltas al sol en el planeta Tierra

In [15]:
# Ejemplo 2
edad_segundos(1000000000,"venus")

1000000000 segundos de edad en la tierra equivalen a 50.95 vueltas al sol en el planeta Venus

In [16]:
# Ejemplo 3
edad_segundos(1000000000,"Júpiter")

1000000000 segundos de edad en la tierra equivalen a 2.67 vueltas al sol en el planeta Jupiter

### 5.- Abre por favor, el archivo exo.csv, en la siguiente liga podrás encontrar informacion respecto al set de datos: https://exoplanetarchive.ipac.caltech.edu/docs/API_kepcandidate_columns.html 

¡A responder las siguientes preguntas!

In [17]:
# Importar pandas y cargar csv
import pandas as pd
df = pd.read_csv('files/exo_planet.csv',index_col=0) ## Cargar archivo
df.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
rowid,,,,,,,,,,,,,,,,,,,,,
1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,...,-176.0,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,...,-174.0,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509

¿Cuántas filas de datos tiene?

In [18]:
# Conteo de filas
filas = len(df)
print(f"El set tiene {filas} filas")

El set tiene 9564 filas

¿Qué representa cada fila?

In [19]:
# Respuesta
print("Cada línea representa un KOI, que son objetos reconocidos por el telescopio Kepler como candidatos a planetas.")

Cada línea representa un KOI, que son objetos reconocidos por el telescopio Kepler como candidatos a planetas.

¿Cuántos planetas están confirmados?

In [20]:
# Filtro de planetas confirmados, filtrando columna koi_disposition
filter_koi = df[df["koi_disposition"]=="CONFIRMED"]
print(f"Hay {len(filter_koi)} planetas en estado confirmado.")

Hay 2293 planetas en estado confirmado.

¿Cuál es la temperatura máxima de los planetas?

In [21]:
### Valor máximo de la columna koi_teq, que es la aproximación en Kelvin de la temperatura del planeta
temp_max = filter_koi["koi_teq"].max()
print(f"La temperatura máxima de los planetas es de {temp_max}°K.")

La temperatura máxima de los planetas es de 3559.0°K.

¿Cuál es la temperatura máxima de las estrellas?

In [22]:
### Valor máximo de la columna koi_steff, que es la temperatura de la estrella en Kelvin
temp_max2 = filter_koi["koi_steff"].max()
print(f"La temperatura máxima de las estrellas es de {temp_max2}°K.")

La temperatura máxima de las estrellas es de 9565.0°K.

¿Cuál es la distancia entre el planeta y la estrella?

In [23]:
# Definir columna relevante y describir
print("La distancia entre planeta y estrella se encuentra en el dataset en la columna 'koi_dor', la cual no se encuentra entre las columnas estándar. Se podría calcular con la tercera ley de Kepler, pero tampoco tenemos la masa estelar entre las columnas.")

La distancia entre planeta y estrella se encuentra en el dataset en la columna 'koi_dor', la cual no se encuentra entre las columnas estándar. Se podría calcular con la tercera ley de Kepler, pero tampoco tenemos la masa estelar entre las columnas.

¿Cuántos planetas hay en cada sistema?

In [24]:
# Definir sistemas y agrupar
sist_count = pd.DataFrame(filter_koi) ## Definir DF de planetas confirmados
sist_count["star"] = sist_count["kepoi_name"].str.slice(2, 6) ## Obtener NNNN del nombre, indicando la estrella
sist_count = pd.DataFrame(sist_count.groupby('star')['kepoi_name'].count()) ## Contar planetas unicos
prom_planetas = sist_count["kepoi_name"].mean() ## Sacar media
print(f"En promedio, hay {prom_planetas.round(2)} planetas por sistema.")

En promedio, hay 1.41 planetas por sistema.

¿Cuánto varía la temperatura del planeta?

In [25]:
# Definir variación de los planetas en temperatura.
temp_min = filter_koi["koi_teq"].min()
temp_var = filter_koi["koi_teq"].std()
temp_mean = filter_koi["koi_teq"].mean()
print(f"La temperatura de los planetas va de {temp_min} a {temp_max}°K. Esto indica una variación de {temp_max-temp_min}°K.")
print(f"Asimismo, si nos vamos a variación promedio, la temperatura de los planetas es de {temp_mean.round(2)}+-{temp_var.round(2)}°K.")

La temperatura de los planetas va de 129.0 a 3559.0°K. Esto indica una variación de 3430.0°K.
Asimismo, si nos vamos a variación promedio, la temperatura de los planetas es de 839.13+-386.74°K.

¿Cuánto varía la temperatura de las estrellas?

In [26]:
# Definir variación de las estrellas en temperatura.
temp_min2 = filter_koi["koi_steff"].min()
temp_var2 = filter_koi["koi_steff"].std()
temp_mean2 = filter_koi["koi_steff"].mean()
print(f"La temperatura de las estrellas va de {temp_min2} a {temp_max2}°K. Esto indica una variación de {temp_max2-temp_min2}°K.")
print(f"Asimismo, si nos vamos a variación promedio, la temperatura de las estrellas es de {temp_mean2.round(2)}+-{temp_var2.round(2)}°K.")

La temperatura de las estrellas va de 2703.0 a 9565.0°K. Esto indica una variación de 6862.0°K.
Asimismo, si nos vamos a variación promedio, la temperatura de las estrellas es de 5477.97+-677.13°K.

¿Cuántos NaN hay en cada categoría?

In [27]:
# Contar nulls
nan_counts = df.isna().sum()
nan_counts

kepid                   0
kepoi_name              0
kepler_name          7270
koi_disposition         0
koi_pdisposition        0
koi_score            1510
koi_fpflag_nt           0
koi_fpflag_ss           0
koi_fpflag_co           0
koi_fpflag_ec           0
koi_period              0
koi_period_err1       454
koi_period_err2       454
koi_time0bk             0
koi_time0bk_err1      454
koi_time0bk_err2      454
koi_impact            363
koi_impact_err1       454
koi_impact_err2       454
koi_duration            0
koi_duration_err1     454
koi_duration_err2     454
koi_depth             363
koi_depth_err1        454
koi_depth_err2        454
koi_prad              363
koi_prad_err1         363
koi_prad_err2         363
koi_teq               363
koi_teq_err1         9564
koi_teq_err2         9564
koi_insol             321
koi_insol_err1        321
koi_insol_err2        321
koi_model_snr         363
koi_tce_plnt_num      346
koi_tce_delivname     346
koi_steff             363
koi_steff_err1        468
koi_steff_err2        483
koi_slogg             363
koi_slogg_err1        468
koi_slogg_err2        468
koi_srad              363
koi_srad_err1         468
koi_srad_err2         468
ra                      0
dec                     0
koi_kepmag              1
dtype: int64